

body {
   padding-top: 15px;
}

.center{
 margin-left: auto !important;
  margin-right: auto !important;
 float: none !important;
 text-align: center;
}

.hidden{
	visibility:visible;

}

.pointable{ 
cursor: hand; cursor: pointer; 
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.scrollable {
	height: 10em;
	overflow: auto;
}

.paused{
	color:orange;
}



.lapCount{
	text-align:right !important;
}

table
{
	width:100%;
	border-collapse:collapse;
}
 td,  th 
{
	font-size:1em;
	border:1px solid gray;
	padding:3px 7px 2px 7px;
}
 th 
{
	font-size:1.3em;
	font-weight: 400;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:gray;
	color:#ffffff;
}
 tr td 
{
	color:#000000;
	background-color:#EAF2D3;
}




@media only screen
and (min-device-width : 320px)
{
/* Styles */
	#time{
		font-size:5rem;
		margin: 30px 0px 40px;
	}

}
@media only screen
and (min-device-width : 768px)
{
/* Styles */
	#time{
		font-size:10rem !important;
		margin:5px 0 5px 0; padding: 50px 0px 80px 0px;
	}

}

